ul.editTree,
ul.editTree ul
  list-style: none

ul.editTree
  padding-left: 0

  ul
    padding-left: 1.5rem

  li
    position: relative

  li::before, li::after
    content: ""
    position: absolute
    left: -12px

  li::before
    border-top: 1px solid #000
    top: 18px
    width: 12px
    height: 0

  li::after
    border-left: 1px solid #000
    height: 100%
    width: 0px
    top: 0px

  li.last-sibling::after
    height: 18px

  li.root-sibling::after
    top: 18px

  li.only-sibling::after
    top: -5px
    height: 23px

  li.first-sibling::after
    top: -5px
    height: calc(100% + 5px)

  li.no-siblings::after, li.no-siblings::before
    visibility: hidden
