ul.editTree,
ul.editTree ul
  list-style: none

  li
    margin-top: 0.5rem

  li > div
    border: 1px solid grey
    display: inline-block
    box-sizing: content-box
    padding-right: 0.254rem

  .drag
    width: 1.5rem
    height: 1.5rem
    margin-right: 0.25rem
    background: url("drag_handle_white_24dp.svg") no-repeat
    background-color: grey
    float: left
    cursor: move

ul.editTree
  padding-left: 0

  ul
    padding-left: 1.5rem
