#content .help

  & > *
    margin-bottom: 1.5rem

.help
  ol img
    padding: 0.5em
    border: 1px solid #c0c0c0
    border-radius: 10px
    max-width: 100%

  p+ul,
  p+ol
    margin-top: -1rem

  li,
  li > p
    margin-bottom: 0.5rem

  .toc
    position: fixed
    top: 74px
    left: 0
    white-space: nowrap
    padding: 0 1rem

    ul
      list-style: none
      font-weight: bold
      font-size: 1.25rem
      padding-left: 0

      ul
        padding: 0.5rem 0 0.5rem 1.5rem
        font-size: 1.125rem
        font-weight: normal

        li
          margin-bottom: 4px

  @media (max-width:1400px)
    .toc
      position: static
      padding: 0
