#content .help

  & > *,
  li > p
    margin-bottom: 0.5rem

  h1
    margin-bottom: 1.5rem

  h2
    margin-top: 1.5rem

  h3
    margin-top: 1rem
    font-weight: normal
    text-decoration: underline

  img
    padding: 0.5em
    border: 1px solid #c0c0c0
    border-radius: 10px
    max-width: 100%
    // margin-left: 1rem

  a > svg
    position: relative
    top: 2px
    height: 1em
    width: 1em
    fill: #4c8dbd
    margin-right: 0.125em

  .toc
    position: fixed
    top: 74px
    left: 0
    white-space: nowrap
    padding: 0 1rem

    ul
      list-style: none

    & > ul
      font-weight: bold
      font-size: 1.25rem
      padding-left: 0

      & > li:not(:first-child)
        margin-top: 1.5rem

      & > li:last-child
        margin-bottom: 1.5rem

      ul
        padding-top: 0.5rem
        padding-left: 25px
        font-size: 1rem
        font-weight: normal

  @media (max-width:1279px)
    .toc
      position: static
      padding: 0
