/* reset */

h1,
h2,
h5,
h6,
p
  margin: 0
  padding: 0
  border: 0

*
  box-sizing: border-box
  color: rgb(59, 64, 69)
  font-size: inherit
  font-family: inherit
  font-style: inherit

td
  vertical-align: baseline !important

/* app-specific */

$font-family: 'Roboto', Arial, "Helvetica Neue", Helvetica, sans-serif

html
  font-family: $font-family
  font-size: 100%
  color: rgb(59, 64, 69)
  line-height: 150%

body
  margin: 0

#root
  max-width: 50em
  margin: 0 auto

#content
  padding: 0 0.5em

  & > *
    margin-bottom: 1.5rem

h1
  font-weight: bold
  margin-top: 1.5rem
  font-size: 1.25rem

h2
  font-weight: bold

img
  height: auto

button
  border-radius: 3px

label,
button
  cursor: pointer

label
  display: block
  font-weight: bold
  margin-bottom: 4px

a
  color: #4c8dbd
  text-decoration: none
  cursor: pointer

// //input[type="text"]
//   font-size: 14px
//   padding: 8px 10px
//   font-family: $font-family
//   width: 100%

*,
*:before,
*:after
  box-sizing: border-box

textarea:focus,
input[type="text"]:focus,
.focussed .tag-editor,
input[type="submit"]:focus
  position: relative
  border-color: #66bfff
  box-shadow: 0 0 0 4px rgba(0, 149, 255, 0.15)
  outline: 0

input[type="submit"],
.linkbutton
  border-color: #1e3c52
  box-shadow: inset 0 1px 0 0 rgba(76, 141, 189, 0.75), 0 0 0 0 rgba(44, 87, 119, 0)
  color: #fff
  background-color: #2c5777

  position: relative
  padding: 0.8em
  border: 1px solid transparent
  border-radius: 3px
  outline: none
  font-family: inherit
  font-size: 13px
  font-weight: 400
  line-height: 1.15384615
  text-decoration: none
  cursor: pointer

.table
  display: table
  width: 100%
  border-collapse: collapse
  /* border-spacing: 1em */

  > *
    display: table-row
    margin-top: 1em

    &:not(:last-child) > *
      padding-bottom: 1.5rem

    > *
      display: table-cell
      vertical-align: top
      /* border: 1px solid */

      &:first-child
        /* 20px is too narrow but the table column will expand to fit the text, I just want it as narrow as possible */
        width: 20px
        text-align: right

      &:not(:last-child)
        padding-right: 10px

  &.compact > :not(:last-child) > *
    padding-bottom: 1rem

.comment
  width: 100%

table
  width: 100%
  border: 1px solid
  border-collapse: collapse

  th, td
    border: 1px solid
    padding: 0 0.5rem

    &:first-child
      /* 20px is too narrow but the table column will expand to fit the text, I just want it as narrow as possible */
      width: 20px

button + button
  margin-left: 1em

.right
  float: right
